.input {
  flex: 1;
  padding: 10px;
  background-color: var(--input-bg-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5px;

  &::placeholder {
    color: var(--placeholder-text-color);
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 0 1.3px rgba(44, 132, 219, 0.4);
  }
}