.button {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--brand-bg-color);
  color: var(--input-bg-color);
  border: 0;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
  }
}

.buttonPlus {
  width: 20px;
  height: 20px;
  color: #F1F4F9;
}