.boardColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 400px;
  padding: 30px;
  border: 0;
  background: var(--card-bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
}
.heading {
  color: var(--primary-text-color);
}